#resultsSection {
    border: solid 1px #AAA;
    background-color: white;
    width: 75%;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#resultsHeaderContainer {
    width: 100%;
    border-bottom: 1px #EEE solid;
    padding: 10px;
}

#resultsHeader {
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
}
