#articlePod {
    border: 1px #EEE solid;
    width: 100%;
    margin-top: 10px;
}

#articleLeft {
    float: left;
    width: 80%;
}

#articleRight {
    float: right;
    width: 20%;
}

.topResult {
    background-color: #EEE;
    padding: 10px;
}

.bottomResult {
    padding: 10px;
}

.remove {
    background-color: rgb(255, 1, 1);
    color: black;

    transition: all 1s;
}

.remove:hover {
    background-color: rgb(151, 0, 0);
}

p {
    font-family: 'Roboto Slab', serif;
}
