#header {
    width: 100%;
    height: 150px;
    padding: 25px;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}

#nytLogo {
    width: 40%;
    margin-bottom: 15px;
}

#headerText {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

#headerText2 {
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}

.videoContainer {
    max-width: 800px;
    height: 120px;
    overflow: hidden;
    display: block;
}

#NYTVideo {
    margin-top: -25%;
}

